/.idea/
/Ozon.AnalyticalSales.Domain/bin/
/Ozon.AnalyticalSales.Domain/obj/
/Ozon.AnalyticalSales.Service/bin/
/Ozon.AnalyticalSales.Service/obj/
/Ozon.AnalyticalSales.Api/bin/
/Ozon.AnalyticalSales.Api/obj/